---
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Nathan PINARD • Projets">
  <main class="flex flex-col gap-8">
    <h1 class="text-2xl text-neutral-100">Additional Projects</h1>

    
      <a
      class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
      href="https://github.com/N95Ryan/Bumble-B"
      target="_blank"
    >
      <div class="flex flex-col gap-4 md:flex-row md:items-center">
        <p class="text-neutral-100">🤖 | BUMBLE-B</p>
        <p>React native • Typescript • Expo • Axios  • Javascript • Java • C++ • Docker</p>
      </div>

      <svg
        width="18"
        height="18"
        viewBox="0 0 18 18"
        fill="none"
        class="transition-all duration-300 group-hover:translate-x-1"
      >
        <path
          d="M5.25 12.75L12.75 5.25"
          stroke="#999999"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
        <path
          d="M5.25 5.25H12.75V12.75"
          stroke="#999999"
          stroke-linecap="round"
          stroke-linejoin="round"
        />
      </svg>

      <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href="https://www.urbanleaguegame.com/"
        target="_blank"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100">🎮 | ULG</p>
          <p>React.js • Typescript • Sass • Docker</p>
        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href="https://pokedex-react-gamma-ebon.vercel.app/"
        target="_blank"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100">🍚 | POKEDEX</p>
          <p>React.js • Typescript • Sass • Firebase </p>
        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>


        <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href="https://portfolio-nathan-bfgy1pz0e-yougboy95s-projects.vercel.app/"
        target="_blank"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100">🌐​ | MY PORTFOLIO V1</p>
          <p>React.js • Typescript • Sass </p>
        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

      <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href="https://saline-royal.vercel.app/"
        target="_blank"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100">🪀 | SALINE ROYALE ACADEMY</p>
          <p>React.js • Javascript • Sass • Java • Docker</p>
        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href="https://secret-time.vercel.app/"
        target="_blank"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100">✨ | SECRET-TIME</p>
          <p>React.js • Javascript • Tailwind.css</p>
        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>

        <a
        class="group flex w-full cursor-pointer flex-col justify-between gap-2 rounded-md border border-neutral-700 p-4 transition-all duration-300 hover:-translate-y-2 hover:border-neutral-400 md:flex-row md:items-center"
        href="https://space-invaders-youngboy.netlify.app/"
        target="_blank"
      >
        <div class="flex flex-col gap-4 md:flex-row md:items-center">
          <p class="text-neutral-100">👾 | SPACE INVADERS</p>
          <p>React.js • Javascript • Tailwind.css</p>
        </div>

        <svg
          width="18"
          height="18"
          viewBox="0 0 18 18"
          fill="none"
          class="transition-all duration-300 group-hover:translate-x-1"
        >
          <path
            d="M5.25 12.75L12.75 5.25"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
          <path
            d="M5.25 5.25H12.75V12.75"
            stroke="#999999"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>


    </>
    

  </main>
  <p>©2026 Copyright : Nathan PINARD</p>
</Layout>
